.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;

    a {
        width: 200px;
        text-align: center;
        color: white;

        &.active {
            color: black;
            background-color: white;
        }
    }
}